
.button{
    text-align: center;
    .btn-primary{
        width: 45%;
   
        font-size: 21px;
    }
}
#card{
   box-shadow:  0 4px 8px 0 rgba(29, 26, 26, 0.2), 0 6px 20px 0 rgba(29, 25, 25, 0.19);
}

#radio
{
    height: 15px;
    width: 15px;
    margin-top: 8px;
}
span{
    font-size: 17px;

}